* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}

body {
    background-color: #fafafa;
}

.nav-button {
    font-family: 'Poppins', sans-serif;
    color: #758283;
}

.hero-description{
    font-family: 'Poppins', sans-serif;
    color: #758283;
}

.contact-heading {
    font-family: 'Poppins', sans-serif;
    color: #758283;
}

.button-email{
    color: #758283;
}

.button-join{

}